{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-hover">
                <div class="card-header bg-primary text-white">
                    Contact Us
                </div>
                <div class="card-body">
                    {% if success %}
                    <div class="alert alert-success">
                        Your message has been sent successfully!
                    </div>
                    {% endif %}
                    
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}